::before {
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  max-width: 300px;

}

.App {
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px lightgray;
}
